Jens Riboe                                  <jens.riboe@ribomation.com>
Jens Riboe <jens.riboe@ribomation.com>      U-slugger\jens <jens@slugger.(none)>
Manfred Moser                               <manfred@simpligility.com>
Manfred Moser <manfred@simpligility.com>    Manfred Moser (mosabua) <manfred@mosabuam.com>
Michael Keppler <bananeweizen@gmx.de>       Bananeweizen <bananeweizen@gmx.de>
